.aboutContainer {
    margin-top: 10px;
    border-radius: 10px;
}

li a {
    color: black;
    margin: 2px, 0px;
    text-align: initial;
}

p {
    text-align: initial;
    margin-left: 8px;
}

.skillItem {
    margin-bottom: 10px;
    width: 100%;
}

.aboutContainer:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.marginY {
    margin: 20px 2px;
}

.MakesMeTick {
    background-image: linear-gradient(179.5deg, rgba(255, 230, 69, 1) 3.3%, rgba(255, 157, 73, 1) 96%);
}
